<section id="mobile" class="flex flex-col w-full h-full items-center justify-center mt-[100px]">
  <div class="relative flex flex-row items-center justify-center w-full h-full gap-16">
    <img class="h-[600px]" src="/assets/images/iphones.png" alt="">

    <div class="flex flex-col items-start justify-center gap-2">

  <p class="font-medium text-[40px] text-center leading-[50px] sm:leading-[70px] mt-[90px] sm:mt-[0px]">
    Wir entwickeln Mobile-First
  </p>
    <p class="max-w-[400px] ">
    Unser Fokus liegt auf einer Mobile-First-Entwicklung,
    um eine optimale Benutzererfahrung auf mobilen Geräten zu gewährleisten.
    Durch die Priorisierung mobiler Endgeräte gestalten wir Anwendungen,
    die sowohl auf Smartphones als auch auf größeren Bildschirmen performant und benutzerfreundlich sind.</p>
    </div>
  </div>
</section>
