
<header
  class="flex flex-row w-full justify-between items-center pt-[25.5px] px-[40px] sm:px-[80px] xl:pl-[131px] xl:pr-[145px] text-gray-600 text-xl font-semibold mix-blend-luminosity pb-8 border border-solid">
  <div
    class="flex  w-[185px]  relative items-center justify-center">
    <a
      class="flex -mt-1 text-[27px] shrink-0 w-full h-full item-center justify-center text-center [text-stroke-width:0.3px] [text-stroke-color:#FFF] text-[40.5px] font-extrabold hover:cursor-pointer
          "
      href="#home">
      couchtec
    </a>
  </div>
  <div
    class="xl:flex flex-row justify-between items-center gap-[2px] xl:gap-[21px] inline-flex text-[22.5px] font-bold hidden">
    <div class="flex w-[155px] h-[66px] justify-center items-center">
      <a href="#solution" class="hover:cursor-pointer">Lösungen</a>
    </div>
    <div class="flex w-[155px] h-[66px] justify-center items-center ">
      <a href="#sogehts" class="hover:cursor-pointer">So Geht's</a>
    </div>

    <div class="flex w-[155px] h-[66px] justify-center items-center ">
      <a
        (click)="handleContactButton()"
        class="hover:cursor-pointer">Kontakt</a>
    </div>
  </div>
  <button
    *ngIf="name === ''"
    class="flex flex-row inline-flex items-center text-[22.5px] text-medium gap-[15px] mt-[3px] pr-[20px] pl-[29.5px] h-[49.5px] rounded-[150px] bg-[rgba(255,255,255,0.24)] hover:bg-[rgba(255,255,255,0.34)]"
    (click)="handleLoginButton()">
    <p>Anmelden</p>
    <svg
      width="10" height="15" viewBox="0 0 10 15" fill="none"
      class="mt-1"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M4.93934 7.74987L0 2.81053L2.12132 0.689209L9.18198 7.74987L2.12132 14.8105L0 12.6892L4.93934 7.74987Z"
        fill="white" />
    </svg>
  </button>
  <button
    *ngIf="name !== ''"
    class="flex flex-row inline-flex items-center text-[22.5px] text-medium gap-[15px] mt-[3px] pr-[20px] pl-[29.5px] h-[49.5px] rounded-[150px] bg-[rgba(255,255,255,0.24)] hover:bg-[rgba(255,255,255,0.34)]"
    (click)="onAccountClick()">
    <a>
      <span>
        <p>{{ name }}</p>
      </span>
    </a>
    <svg
      width="10" height="15" viewBox="0 0 10 15" fill="none"
      class="mt-1"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M4.93934 7.74987L0 2.81053L2.12132 0.689209L9.18198 7.74987L2.12132 14.8105L0 12.6892L4.93934 7.74987Z"
        fill="white" />
    </svg>
  </button>
</header>