<section id="home" class="flex flex-col items-center">
    <div
        class="flex flex-col mt-[100px] md:mt-[180px] justify-center items-center">
        <div class="flex flex-col gap-4">
            <div
                class="flex flex-col font-brand text-[35px] sm:text-[60px] font-semibold leading-[50px] sm:leading-[70px] mx-[20px]">
                <p class="text-center">Maßgeschneiderte Software</p>
                <p class="text-center">für Ihr Unternehmen</p>
            </div>

            <div
                class="flex flex-col font-brand font-thin text-gray-800 text-[18px] sm:text-[20px] font-semibold">
                <p class="text-center">Wir entwerfen und entwickeln
                    Software,
                </p>
                <p class="text-center">genau nach Ihren Vorgaben.</p>
            </div>
        </div>
    </div>
    <div
        class="flex shrink-0 flex-col sm:flex-row mt-[50px] items-center justify-center h-[70px] gap-[30px]">
        <button
            (click)="handleContactButton()"
            class="flex shrink-0 items-center bg-primary-dark hover:bg-primary-light text-white h-full rounded-[8px] px-[40px]">
            <p
                class="text-[20px] font-brand font-light">Gespräch mit Harald</p>
        </button>

        <button>
            <a href="#showcase" class="text-[20px] font-brand font-light">Unsere
                Arbeit</a>
        </button>

    </div>

</section>
