<section
  id="select-type"
  class="flex font-brand w-full items-center justify-center mt-[180px] sm:mt-[150px]"
>
  <div
    class="flex flex-col w-full sm:w-[1250px] items-center justity-center gap-[60px]"
  >
    <div class="flex flex-col items-center justify-center w-[300px] sm:w-full">
      <p class="font-light text-gray-500 text-[12px] uppercase text-center">
        Standardlösungen werden Ihnen nur Kopfschmerzen bereiten
      </p>
      <p
        class="font-medium text-[40px] text-center leading-[50px] mt-[14px] w-[300px] sm:w-full"
      >
        Software-Lösungen, die sich an Ihre Bedürfnisse anpassen
      </p>
    </div>
    <div
      class="grid grid-cols-1 grid-rows-6 sm:grid-cols-2 sm:grid-rows-3 xl:grid-cols-3 xl:grid-rows-2 gap-6 mx-[20px]"
    >
      <div class="type-card">
        <img
          class="w-8 h-8"
          src="/assets/Management.avif"
          alt="Management Software Entwicklung München"
        />
        <p class="text-[22px] font-medium opacity-90 mt-2">Management</p>
        <p class="text-[15px] font-light opacity-70 mt-2">
          Unterstützung von Geschäftsvorgängen, Planung und
          Ressourcenmanagement.
        </p>
        <ul class="text-[15px] font-light opacity-70 mt-2 list-disc pl-4 mt-4">
          <li>Finanzverwaltung</li>
          <li>Mitarbeiter & Kunden Verwaltung</li>
          <li>Betriebs- und Workflow-Management</li>
        </ul>
      </div>

      <div class="type-card">
        <img
          class="w-8 h-8"
          src="/assets/Kunden.avif"
          alt="Kunden orientierte Software Entwicklung München"
        />
        <p class="text-[22px] font-medium opacity-90 mt-2">Kundeninteraktion</p>
        <p class="text-[15px] font-light opacity-70 mt-2">
          Verbessert kundenorientierte Dienstleistungen, Engagement und Support.
        </p>
        <ul class="text-[15px] font-light opacity-70 mt-2 list-disc pl-4 mt-4">
          <li>Kundenportale und mobile Anwendungen</li>
          <li>Webseite zur Kundengewinnung</li>
          <li>Marketing- und Vertriebsunterstützung</li>
        </ul>
      </div>

      <div class="type-card">
        <img
          class="w-8 h-8"
          src="/assets/Daten.avif"
          alt="Daten Analyse und Verarbeitung Software Entwicklung München"
        />
        <p class="text-[22px] font-medium opacity-90 mt-2">Daten und Analyse</p>
        <p class="text-[15px] font-light opacity-70 mt-2">
          Bietet Einblicke, Entscheidungshilfen und datengestützte Strategien.
        </p>
        <ul class="text-[15px] font-light opacity-70 mt-2 list-disc pl-4 mt-4">
          <li>Analyse- und Berichtstools</li>
          <li>Business Intelligence und Data Warehousing</li>
          <li>Branchenspezifische Analysen</li>
        </ul>
      </div>

      <div class="type-card ]">
        <img
          class="w-8 h-8"
          src="/assets/Sicherheit.avif"
          alt="Sichere Software Entwicklung München"
        />
        <p class="text-[22px] font-medium opacity-90 mt-2">
          Sicherheit und Compliance
        </p>
        <p class="text-[15px] font-light opacity-70 mt-2">
          Schützt Geschäftsabläufe und Daten und gewährleistet die Einhaltung
          gesetzlicher Vorschriften
        </p>
        <ul class="text-[15px] font-light opacity-70 mt-2 list-disc pl-4 mt-4">
          <li>Compliance-Management-Lösungen</li>
          <li>Tools für Backup und Disaster Recovery</li>
          <li>Cybersecurity-Tools</li>
        </ul>
      </div>

      <div class="type-card">
        <img
          class="w-8 h-8"
          src="/assets/Branchen.avif"
          alt="Branchenspezifische Software Entwicklung München"
        />
        <p class="text-[22px] font-medium opacity-90 mt-2">
          Branchenspezifisch
        </p>
        <p class="text-[15px] font-light opacity-70 mt-2">
          Erfüllt einzigartige Arbeitsabläufe oder branchenspezifische
          Anforderungen durch maßgeschneiderte oder spezialisierte Lösungen.
        </p>
        <ul class="text-[15px] font-light opacity-70 mt-2 list-disc pl-4 mt-4">
          <li>API-Integration und interne Tools</li>
          <li>Branchenspezifische Software</li>
        </ul>
      </div>

      <div class="type-card">
        <img
          class="w-8 h-8"
          src="/assets/Anpassung.avif"
          alt="Anpassbare Software Entwicklung München"
        />
        <p class="text-[22px] font-medium opacity-90 mt-2">
          Integration und Automation
        </p>
        <p class="text-[15px] font-light opacity-70 mt-2">
          Verbessert Prozesseffizienz durch Automatisierung und nahtlose
          Integration in bestehende Systeme.
        </p>
        <ul class="text-[15px] font-light opacity-70 mt-2 list-disc pl-4 mt-4">
          <li>Automatisierte Workflows zur Fehlerreduktion</li>
          <li>Systemintegrationen, optimierter Datenaustausch</li>
          <li>Effizienzsteigerung durch Prozessautomatisierung</li>
        </ul>
      </div>
    </div>
  </div>
</section>
