<section
  id="select-type"
  class="flex font-brand w-full items-center justify-center mt-[180px] sm:mt-[150px]"
>
  <div
    class="flex flex-col w-full sm:w-[1278px] items-center justity-center gap-[60px]"
  >
    <div class="flex flex-col items-center justify-center w-[300px] sm:w-full">
      <p class="font-light text-gray-500 text-[12px] uppercase text-center">
        Standardlösungen werden Ihnen nur Kopfschmerzen bereiten
      </p>
      <p
        class="font-medium text-[40px] text-center leading-[50px] mt-[14px] w-[300px] sm:w-full"
      >
        Software-Lösungen, die sich an Ihre Bedürfnisse anpassen
      </p>
    </div>
    <app-type></app-type>
  </div>
</section>
