<section
  id="stack"
  class="flex font-brand w-full items-center justify-center mt-[180px] sm:mt-[0px]"
>
  <div class="flex flex-col w-[1250px] items-center justity-center gap-[60px]">
    <div class="flex flex-col items-center justify-center mx-[20px]">
      <p class="font-light text-gray-500 text-[12px] uppercase">
        Billige Software kostet Sie auf lange Sicht mehr.
      </p>
      <p
        class="font-medium text-[40px] text-center leading-[50px] sm:leading-[70px] mt-[0px] sm:mt-[0px]"
      >
        Investieren Sie in Qualität und sehen Sie die Resultate.
      </p>
    </div>
    <div
      class="grid grid-cols-1 grid-rows-6 sm:grid-cols-2 sm:grid-rows-3 xl:grid-cols-3 xl:grid-rows-2 gap-6 mx-[20px]"
    >
      <div class="stack-card">
        <p class="text-[22px] font-medium opacity-90">Programmiersprachen</p>
        <p class="text-[15px] font-light opacity-70 mt-4">
          Wir beherrschen die neuesten Sprachen wie Rust, Python, JavaScript und
          mehr, um leistungsstarken und zuverlässigen Code zu liefern. Unsere
          Expertise hilft Unternehmen, effizient zu skalieren und innovative
          Lösungen schnell auf den Markt zu bringen.
        </p>
        <div
          class="slider"
          style="
            --width: 50px;
            --height: 50px;
            --quantity: 9;
            --smallWidth: 50px;
            --smallHeight: 50px;
          "
        >
          <div class="list">
            <div class="item" style="--position: 1">
              <img
                src="/assets/images/ts.avif"
                alt="Typescript Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 2">
              <img
                src="/assets/images/ocaml.avif"
                alt="OCaml Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 3">
              <img
                src="/assets/images/elixir.avif"
                alt="Elixir Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 4">
              <img
                src="/assets/images/python.avif"
                alt="Python Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 5">
              <img
                src="/assets/images/java.avif"
                alt="Java Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 6">
              <img
                src="/assets/images/rust.avif"
                alt="Rust Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 7">
              <img
                src="/assets/images/c.avif"
                alt="C Programmiersprache Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 8">
              <img
                src="/assets/images/go.avif"
                alt="Go Programmiersprache Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 9">
              <img
                src="/assets/images/js.avif"
                alt="Javascript Software Entwicklung München"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="stack-card">
        <p class="text-[22px] font-medium opacity-90">Cloud native</p>
        <p class="text-[15px] font-light opacity-70 mt-4">
          Wir sind Experten in Cloud-Technologien wie AWS, Azure und Kubernetes.
          Unsere cloud-nativen Lösungen sind auf Zuverlässigkeit, Sicherheit und
          Skalierbarkeit ausgelegt und ermöglichen es Ihnen, die digitale
          Transformation mit Leichtigkeit zu meistern.
        </p>
        <div
          class="slider w-full"
          style="--width: 50px; --height: 50px; --quantity: 6"
        >
          <div class="list">
            <div class="item" style="--position: 1">
              <img
                src="/assets/images/kubernetes.avif"
                alt="Kubernetes Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 2">
              <img
                src="/assets/images/docker.avif"
                alt="Docker Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 3">
              <img
                src="/assets/images/lambda.avif"
                alt="Lambda Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 4">
              <img
                src="/assets/images/functions.avif"
                alt="Functions, Serverless Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 5">
              <img
                src="/assets/images/azure.avif"
                alt="Azure Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 6">
              <img
                src="/assets/images/aws.avif"
                alt="Aws Software Entwicklung München"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="stack-card">
        <p class="text-[22px] font-medium opacity-90">Frontend Frameworks</p>
        <p class="text-[15px] font-light opacity-70 mt-4">
          Mit React, Angular, Vue und anderen modernen Frameworks entwickeln wir
          benutzerfreundliche und reaktionsschnelle Oberflächen. Unsere Designs
          sind nicht nur ästhetisch, sondern auch darauf ausgelegt, Nutzer zu
          begeistern und Interaktionen zu fördern.
        </p>
        <div
          class="slider w-full"
          style="--width: 50px; --height: 50px; --quantity: 5"
        >
          <div class="list">
            <div class="item" style="--position: 1">
              <img
                src="/assets/images/react.avif"
                alt="React Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 2">
              <img
                src="/assets/images/angular.avif"
                alt="Angular Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 3">
              <img
                src="/assets/images/nextjs.avif"
                alt="NexJS Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 4">
              <img
                src="/assets/images/phoenix.avif"
                alt="Phoenix Framework Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 5">
              <img
                src="/assets/images/solid.avif"
                alt="Solid Frontend Framework Software Entwicklung München"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="stack-card">
        <p class="text-[22px] font-medium opacity-90">Datenbanken</p>
        <p class="text-[15px] font-light opacity-70 mt-4">
          Wir setzen auf robuste Datenbanken wie MySQL, PostgreSQL, CouchDB, um
          Daten sicher und effizient zu verwalten. Ob relationale oder
          NoSQL-Datenbanken – wir sorgen dafür, dass Ihre Daten stets schnell
          verfügbar und geschützt sind.
        </p>
        <div
          class="slider w-full"
          style="--width: 50px; --height: 50px; --quantity: 5"
        >
          <div class="list">
            <div class="item" style="--position: 1">
              <img
                src="/assets/images/postgresql.avif"
                alt="Postgresql Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 2">
              <img
                src="/assets/images/hive.avif"
                alt="Hive Datenbank Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 3">
              <img
                src="/assets/images/couchdb.avif"
                alt="Couchdb Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 4">
              <img
                src="/assets/images/sqlite.avif"
                alt="SQLite Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 5">
              <img
                src="/assets/images/mysql.avif"
                alt="MySQL Software Entwicklung München"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="stack-card">
        <p class="text-[22px] font-medium opacity-90">Platformen</p>
        <p class="text-[15px] font-light opacity-70 mt-4">
          Egal ob iOS, Android oder Web – wir entwickeln leistungsstarke
          Anwendungen, die auf allen Plattformen nahtlos funktionieren. Unsere
          umfassenden Tests garantieren eine optimale Benutzererfahrung und hohe
          Performance auf jedem Gerät.
        </p>
        <div
          class="slider w-full"
          style="--width: 50px; --height: 50px; --quantity: 5"
        >
          <div class="list">
            <div class="item" style="--position: 1">
              <img
                src="/assets/images/web.avif"
                alt="Web, Internet Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 2">
              <img
                src="/assets/images/react.avif"
                alt="React Native Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 3">
              <img
                src="/assets/images/flutter.avif"
                alt="Flutter Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 4">
              <img
                src="/assets/images/android.avif"
                alt="Android Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 5">
              <img
                src="/assets/images/apple.avif"
                alt="IOS Software Entwicklung München"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="stack-card">
        <p class="text-[22px] font-medium opacity-90">Devops</p>
        <p class="text-[15px] font-light opacity-70 mt-4">
          Mit modernsten DevOps-Tools wie Terraform, optimieren wir Ihre
          Datenverwaltung. Automatisierte Workflows sorgen für eine zuverlässige
          Infrastruktur und schnellere Releases, ob Monolith oder Microservices.
        </p>
        <div
          class="slider w-full"
          style="--width: 50px; --height: 50px; --quantity: 8"
        >
          <div class="list">
            <div class="item" style="--position: 1">
              <img
                src="/assets/images/linkerd.avif"
                alt="Linkerd Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 2">
              <img
                src="/assets/images/nginx.avif"
                alt="Nginx Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 3">
              <img
                src="/assets/images/grafana.avif"
                alt="Grafana Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 4">
              <img
                src="/assets/images/helm.avif"
                alt="Helm Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 5">
              <img
                src="/assets/images/istio.avif"
                alt="Istio Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 6">
              <img
                src="/assets/images/terraform.avif"
                alt="Terraform Software Entwicklung München"
              />
            </div>
            <div class="item" style="--position: 7">
              <img
                src="/assets/images/ansible.avif"
                alt="Ansible Software Entwicklung München"
              />
            </div>

            <div class="item" style="--position: 8">
              <img
                src="/assets/images/argo.avif"
                alt="Argo Software Entwicklung München"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="navigationService.navigateToContact()"
      class="bg-primary-dark hover:bg-primary-light text-white h-full rounded-[8px] px-[40px] py-[20px]"
    >
      <p class="text-[20px] font-brand font-light">Kontakt aufnehmen</p>
    </button>
  </div>
</section>
