<section class="flex font-brand w-full items-center justify-center mt-[140px]">
    <div class="flex flex-col w-[1250px] items-center justity-center gap-[60px]">
        <div class="flex flex-col items-center justify-center">
            <p class="font-light text-gray-500 text-[12px] uppercase">Billige
                Software kostet Sie auf lange Sicht mehr.</p>
            <p class="font-medium text-[40px]">Investieren Sie in Qualität und
                sehen
                Sie die
                Resultate.</p>

        </div>
        <div class="grid grid-cols-3 grid-rows-2 gap-6">
            <div
                class="rounded-xl border border-dashed border-stone-300 p-6 hover:bg-white bg-gray-50">
                <p class="text-[18px] font-medium">Programmiersprachen</p>
                <p class="text-[15px] font-medium opacity-80 mt-4">
                    Wir beherrschen die neuesten Sprachen wie Rust,
                    Python, JavaScript und mehr, um leistungsstarken und
                    zuverlässigen Code zu liefern. Unsere Expertise hilft
                    Unternehmen, effizient zu skalieren und innovative Lösungen
                    schnell auf den Markt zu bringen.
                </p>
                <div class="slider" style="
                    --width: 50px;
                    --height: 50px;
                    --quantity: 8;
                ">
                    <div class="list">
                        <div class="item" style="--position: 1">
                            <img src="/assets/images/ts.png" alt>
                        </div>

                        <div class="item" style="--position: 2">
                            <img src="/assets/images/ocaml.png" alt>
                        </div>

                        <div class="item" style="--position: 3">
                            <img src="/assets/images/elixir.jpg" alt>
                        </div>

                        <div class="item" style="--position: 4">
                            <img src="/assets/images/python.png" alt>
                        </div>

                        <div class="item" style="--position: 5">
                            <img src="/assets/images/java.png" alt>
                        </div>

                        <div class="item" style="--position: 6">
                            <img src="/assets/images/rust.png" alt>
                        </div>

                        <div class="item" style="--position: 7">
                            <img src="/assets/images/go.png" alt>
                        </div>

                        <div class="item" style="--position: 8">
                            <img src="/assets/images/js.jpg" alt>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="rounded-xl border border-dashed border-stone-300 p-6 hover:bg-white bg-gray-50">
                <p class="text-[18px] font-medium">Cloud native</p>
                <p class="text-[15px] font-medium opacity-80 mt-4">
                    Wir sind Experten in Cloud-Technologien wie AWS, Azure und
                    Kubernetes. Unsere cloud-nativen Lösungen sind auf
                    Zuverlässigkeit, Sicherheit und Skalierbarkeit ausgelegt und
                    ermöglichen es Ihnen, die digitale Transformation mit
                    Leichtigkeit zu meistern.
                </p>
                <div class="slider w-full" style="
                    --width: 50px;
                    --height: 50px;
                    --quantity: 6;
                ">
                    <div class="list">
                        <div class="item" style="--position: 1">
                            <img src="/assets/images/kubernetes.png" alt>
                        </div>

                        <div class="item" style="--position: 2">
                            <img src="/assets/images/docker.png" alt>
                        </div>

                        <div class="item" style="--position: 3">
                            <img src="/assets/images/lambda.png" alt>
                        </div>

                        <div class="item" style="--position: 4">
                            <img src="/assets/images/functions.png" alt>
                        </div>

                        <div class="item" style="--position: 5">
                            <img src="/assets/images/azure.png" alt>
                        </div>

                        <div class="item" style="--position: 6">
                            <img src="/assets/images/aws.png" alt>
                        </div>

                    </div>
                </div>
            </div>

            <div
                class="rounded-xl border border-dashed border-stone-300 p-6 hover:bg-white bg-gray-50">
                <p class="text-[18px] font-medium">Frontend Frameworks</p>
                <p class="text-[15px] font-medium opacity-80 mt-4">
                    Mit React, Angular, Vue und anderen modernen Frameworks
                    entwickeln wir benutzerfreundliche und reaktionsschnelle
                    Oberflächen. Unsere Designs sind nicht nur ästhetisch,
                    sondern auch darauf ausgelegt, Nutzer zu begeistern und
                    Interaktionen zu fördern.
                </p>
                <div class="slider w-full" style="
                    --width: 50px;
                    --height: 50px;
                    --quantity: 5;
                ">
                    <div class="list">
                        <div class="item" style="--position: 1">
                            <img src="/assets/images/react.png" alt>
                        </div>

                        <div class="item" style="--position: 2">
                            <img src="/assets/images/angular.png" alt>
                        </div>

                        <div class="item" style="--position: 3">
                            <img src="/assets/images/nextjs.png" alt>
                        </div>

                        <div class="item" style="--position: 4">
                            <img src="/assets/images/phoenix.png" alt>
                        </div>

                        <div class="item" style="--position: 5">
                            <img src="/assets/images/solid.png" alt>
                        </div>

                    </div>
                </div>
            </div>

            <div
                class="rounded-xl border border-dashed border-stone-300 p-6 hover:bg-white bg-gray-50">
                <p class="text-[18px] font-medium">Datenbanken</p>
                <p class="text-[15px] font-medium opacity-80 mt-4">
                    Wir setzen auf robuste Datenbanken wie PostgreSQL, MongoDB
                    und Redis, um Daten sicher und effizient zu verwalten. Ob
                    relationale oder NoSQL-Datenbanken – wir sorgen dafür, dass
                    Ihre Daten stets schnell verfügbar und geschützt sind.</p>
                <div class="slider w-full" style="
                    --width: 50px;
                    --height: 50px;
                    --quantity: 6;
                ">
                    <div class="list">
                        <div class="item" style="--position: 1">
                            <img src="/assets/images/sqlite.png" alt>
                        </div>

                        <div class="item" style="--position: 2">
                            <img src="/assets/images/kafka.png" alt>
                        </div>

                        <div class="item" style="--position: 3">
                            <img src="/assets/images/couchdb.png" alt>
                        </div>
                        <div class="item" style="--position: 4">
                            <img src="/assets/images/redis.png" alt>
                        </div>

                        <div class="item" style="--position: 5">
                            <img src="/assets/images/mongodb.png" alt>
                        </div>

                        <div class="item" style="--position: 6">
                            <img src="/assets/images/postgresql.png" alt>
                        </div>

                    </div>
                </div>
            </div>

            <div
                class="rounded-xl border border-dashed border-stone-300 p-6 hover:bg-white bg-gray-50">
                <p class="text-[18px] font-medium">Platformen</p>
                <p class="text-[15px] font-medium opacity-80 mt-4">
                    Egal ob iOS, Android oder Web – wir entwickeln
                    leistungsstarke Anwendungen, die auf allen Plattformen
                    nahtlos funktionieren. Unsere umfassenden Tests garantieren
                    eine optimale Benutzererfahrung und hohe Performance auf
                    jedem Gerät.
                </p>
                <div class="slider w-full" style="
                    --width: 50px;
                    --height: 50px;
                    --quantity: 5;
                ">
                    <div class="list">
                        <div class="item" style="--position: 1">
                            <img src="/assets/images/web.png" alt>
                        </div>

                        <div class="item" style="--position: 2">
                            <img src="/assets/images/react.png" alt>
                        </div>

                        <div class="item" style="--position: 3">
                            <img src="/assets/images/flutter.png" alt>
                        </div>

                        <div class="item" style="--position: 4">
                            <img src="/assets/images/android.png" alt>
                        </div>

                        <div class="item" style="--position: 5">
                            <img src="/assets/images/apple.png" alt>
                        </div>

                    </div>
                </div>
            </div>

            <div
                class="rounded-xl border border-dashed border-stone-300 p-6 hover:bg-white bg-gray-50">
                <p class="text-[18px] font-medium">Devops</p>
                <p class="text-[15px] font-medium opacity-80 mt-4">
                    Mit modernsten DevOps-Tools wie Terraform, Jenkins und
                    Prometheus optimieren wir Ihre Datenverwaltung.
                    Automatisierte Workflows sorgen für eine zuverlässige
                    Infrastruktur und schnellere Releases, ob Monolith oder
                    Microservices.
                </p>
                <div class="slider w-full" style="
                    --width: 50px;
                    --height: 50px;
                    --quantity: 7;
                ">
                    <div class="list">
                        <div class="item" style="--position: 1">
                            <img src="/assets/images/linkerd.png" alt>
                        </div>

                        <div class="item" style="--position: 2">
                            <img src="/assets/images/nginx.png" alt>
                        </div>

                        <div class="item" style="--position: 3">
                            <img src="/assets/images/grafana.png" alt>
                        </div>
                        <div class="item" style="--position: 4">
                            <img src="/assets/images/jenkins.png" alt>
                        </div>

                        <div class="item" style="--position: 5">
                            <img src="/assets/images/prometheus.png" alt>
                        </div>

                        <div class="item" style="--position: 6">
                            <img src="/assets/images/terraform.png" alt>
                        </div>
                        <div class="item" style="--position: 7">
                            <img src="/assets/images/ansible.png" alt>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <button
            class=" bg-primary-dark hover:bg-primary-light text-white h-full rounded-[8px] px-[40px] py-[20px]">
            <p class="text-[20px] font-brand font-light">Kontakt aufnehmen</p>
        </button>
    </div>
</section>