<footer
  class="flex bg-white w-full h-[40px] sm:h-[60px] border-t solid border-gray-150 mt-[60px] mb-24 sm:mb-8 uppercase font-brand font-light text-[10px] sm:text-[12px] justify-center items-center"
>
  <div class="relative flex justify-center items-center w-[90%] lg:w-[70%]">
    <p class="absolute sm:left-0 sm:top-auto top-0 opacity-70">
      &copy; couchtec {{ currentYear }}. Alle Rechte vorbehalten.
    </p>
    <p class="hidden md:block text-center">couchtec</p>
    <div
      class="absolute top-4 sm:right-0 sm:left-auto sm:top-auto flex flex-row text-right gap-[12px] opacity-70"
    >
      <a
        href="https://couchtec.com/imprint"
        class="hover:cursor-pointer hover:underline"
      >
        Impressum
      </a>
      <a
        href="https://couchtec.com/gtc"
        class="hover:cursor-pointer hover:underline"
      >
        AGB
      </a>
      <a
        href="https://couchtec.com/privacy"
        class="hover:cursor-pointer hover:underline"
      >
        Datenschutz
      </a>
    </div>
  </div>
</footer>
