<footer
    class="flex bg-white w-full h-[80px] border-t solid border-gray-150 mt-[60px] uppercase font-brand font-light text-[12px] justify-center items-center">
    <div
        class="relative flex justify-center items-center  items-center w-[70%]">
        <p class="absolute left-0 opacity-70">&copy; couchtec 2024. Alle Rechte
            vorbehalten.</p>
        <p class="text-center ">couchtec</p>
        <div
            class="absolute right-0 flex flex-row text-right gap-[12px] opacity-70">
            <a class="hover:cursor-pointer hover:underline">X</a>
            <a class="hover:cursor-pointer hover:underline">LinkedIn</a>
        </div>
    </div>
</footer>