
<section id="showcase" class="flex flex-col items-center">
    <p
        class="font-brand font-light text-gray-400 mt-[130px] text-[12px] uppercase">Vertraut
        von
        Unternehmen
        wie:</p>
    <div class="slider" style="
        --width: 100px;
        --height: 50px;
        --quantity: 10;
    ">
        <div class="list">
            <div class="item"
                style="--position: 1"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/gPdeG4QgaMH8scSTSIxYQYsL96A.png"
                    alt></div>
            <div class="item"
                style="--position: 2"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/C8tq0o7TDDQHrbgjPCRJ9gxV3WA.png"
                    alt></div>
            <div class="item"
                style="--position: 3"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/xZa5HYXVDiHSUMfJ0mY1KEESg.png"
                    alt></div>
            <div class="item"
                style="--position: 4"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/NNnRbu7NkmYpgRdGvXO0eSrU7KA.png"
                    alt></div>
            <div class="item"
                style="--position: 5"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/UO6CVaOHp8TqdL5no9nYn8vpEz8.png"
                    alt></div>
            <div class="item"
                style="--position: 6"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/J6Up1AW3VbgFzTD2DCb6moZH0k.png"
                    alt></div>
            <div class="item"
                style="--position: 7"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/ZrGguX7xyPL7OJcYd7V35FShu5o.png"
                    alt></div>
            <div class="item"
                style="--position: 8"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/PU9MqHvNSWkwG20JD3pYCPqiEU.png"
                    alt></div>
            <div class="item"
                style="--position: 9"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/6l4JMtAH7CB3TJiANTKvHVxBL4.png"
                    alt></div>
            <div class="item"
                style="--position: 10"><img
                    decoding="async"
                    src="https://framerusercontent.com/images/8MkIEbVk13NjWU3VZsVSwu1pds.png"
                    alt></div>
        </div>

    </div>
    <div
        class="relative flex overflow-x-hidden  gap-[20px] mt-[31px] w-[80%]">
        <div
            class="relative py-12 animate-marquee whitespace-nowrap flex items-center gap-[50px]">
            <img src="/assets/images/showcase1.png"
                class="h-[500px] object-contain rounded-[10px] " />
            <img src="/assets/images/showcase2.png"
                class="h-[500px] object-contain rounded-[10px] " />
            <img src="/assets/images/showcase3.png"
                class="h-[500px] object-contain rounded-[10px] " />

        </div>

        <div
            class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap flex items-center gap-[50px]">
            <img src="/assets/images/showcase1.png"
                class="h-[500px] object-contain rounded-[10px] " />
            <img src="/assets/images/showcase2.png"
                class="h-[500px] object-contain rounded-[10px] " />
            <img src="/assets/images/showcase3.png"
                class="h-[500px] object-contain rounded-[10px] " />
        </div>
        <div class="pointer-events-none absolute inset-0 z-20">
            <!-- Left Fade -->
            <div
                class="absolute left-0 top-0 h-full w-24 bg-gradient-to-r from-white via-white/50 to-transparent"></div>
            <!-- Right Fade -->
            <div
                class="absolute right-0 top-0 h-full w-24 bg-gradient-to-l from-white via-white/50 to-transparent"></div>
        </div>
    </div>

</section>