<section
    id="sogehts"
    class="flex flex-col min-h-screen justify-center items-center w-full bg-[url('assets/images/SoGehtsBackground.png')] bg-lightgray bg-center bg-cover bg-no-repeat inset-1 relative pb-40">
    <div class="flex flex-col mt-[0px] gap-[32px] mx-4 mt-40">
        <div class="flex flex-col gap-[17px]">
            <p
                class="text-[#425466] text-center text-[26.862px] xl:font-semibold leading-[150%] tracking-[-0.537px]">
                SO GEHT'S
            </p>
            <p
                class="text-[#393939] text-center text-[53.724px] font-bold leading-[150%] tracking-[-1.612px]">
                Ein paar einfache Schritte und fertig
            </p>
        </div>
        <div>
            <p
                class="text-[#425466] text-center text-[26.862px] font-light leading-[150%] tracking-[-0.537px]  ">
                In nur wenigen einfachen Schritten erhalten Sie Ihr Preisangebot
                für
                Ihr
            </p>
            <p
                class="text-[#425466] text-center text-[26.862px] font-light leading-[150%] tracking-[-0.537px]">
                konfiguriertes Projekt.
            </p>
        </div>
    </div>
    <div
        class="flex flex-col items-center xl:flex-row w-[1267.252px]  flex-shrink-0 gap-[181px] mt-[53px]  mb-20">
        <div class="relative w-[302.198px] h-[415.019px] flex-shrink-0">

            <div
                class="absolute left-[33.5px] top-[33.5px] flex w-[268.621px] flex-col items-center gap-[32px]">
                <div
                    class="flex flex-col  rounded-[21.49px] bg-[var(--Secondary-100,#F3F5F7)] h-[268.621px] self-stretch border rounded-[21.5px]">
                    <div
                        class="flex flex-col gap-[16px] mt-[43px] ml-[43px] rounded-br-[23px] rounded-tr-none rounded-br-none rounded-bl-none bg-[var(--Base-Base-White,#FFF)] w-[223.641px] h-[223.641px] flex-shrink-0 p-[1px]">
                        <div
                            class="flex flex-col items-start gap-[7px] w-[193.407px] mt-[32.2px] ml-[32.2px]">
                            <p
                                class="text-[#1A202C] text-[16.117px] font-medium leading-[150%] tracking-[-0.322px]">
                                E-Mail
                            </p>
                            <div
                                class="flex flex-col items-start gap-[10px] w-[190.407px] h-[40.293px] p-[7px_16px] rounded-[2.686px] bg-[#F3F5F7]">
                                <div
                                    class="flex flex-row items-center text-[#1A202C] text-[16.117px] font-normal leading-[150%] tracking-[-0.161px] gap-[2px]">
                                    <p>deine_email</p>
                                    <p class="text-[20px] mb-[2px]">|</p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex flex-col items-start gap-[7px] w-[193.407px] ml-[32.2px]">
                            <p
                                class="text-[#1A202C] text-[16.117px] font-medium leading-[150%] tracking-[-0.322px]">
                                Passwort
                            </p>
                            <div
                                class="flex flex-row items-center justify-start gap-[5px] w-[190.407px] h-[40.293px] p-[7px_16px] rounded-[2.686px] bg-[#F3F5F7]">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="8"
                                    height="8"
                                    viewBox="0 0 8 8"
                                    fill="none">
                                    <circle
                                        cx="4.14877"
                                        cy="3.73227"
                                        r="3.35776"
                                        fill="#1A202C" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <p
                    class="text-[#425466] text-center text-[26.862px] font-medium leading-[150%] tracking-[-0.537px]">
                    Registrieren Sie Ihr couchtec-Konto
                </p>
            </div>
            <div
                class="absolute flex w-[67.155px] h-[67.155px] p-[9px_23px] flex-col justify-center items-center gap-[10px] flex-shrink-0 rounded-[33.578px] bg-[var(--Base-Base-White,#FFF)] shadow-[0px_0px_13.874px_rgba(0,0,0,0.25">
                <p
                    class="text-[#393939] text-center text-[32.234px] font-semibold leading-[150%] tracking-[-0.967px]">1</p>
            </div>
        </div>
        <div class="relative w-[302.198px] h-[415.019px] flex-shrink-0">

            <div
                class="absolute left-[33.5px] top-[33.5px] flex w-[268.621px] flex-col items-center gap-[32px]">
                <div
                    class="flex flex-col rounded-[21.49px] bg-[var(--Secondary-100,#F3F5F7)] h-[268.621px] self-stretch border rounded-[21.5px]">
                    <div
                        class="relative gap-[16px] mt-[43px] ml-[43px] rounded-br-[23px] rounded-tr-none rounded-br-none rounded-bl-none bg-[var(--Base-Base-White,#FFF)] w-[223.641px] h-[223.641px] flex-shrink-0 p-[1px]">
                        <div
                            class="absolute left-[43px] top-[43px] flex items-start inline-flex gap-[16px]">
                            <svg width="28" height="27" viewBox="0 0 28 27"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0839 0.0216675C6.68337 0.0216675 0.652832 6.0522 0.652832 13.4527C0.652832 20.8532 6.68337 26.8837 14.0839 26.8837C21.4844 26.8837 27.5149 20.8532 27.5149 13.4527C27.5149 6.0522 21.4844 0.0216675 14.0839 0.0216675ZM20.5039 10.3636L12.8885 17.979C12.7005 18.167 12.4453 18.2744 12.1767 18.2744C11.908 18.2744 11.6529 18.167 11.4648 17.979L7.66383 14.178C7.27433 13.7885 7.27433 13.1438 7.66383 12.7543C8.05333 12.3648 8.69802 12.3648 9.08752 12.7543L12.1767 15.8434L19.0802 8.93988C19.4697 8.55038 20.1144 8.55038 20.5039 8.93988C20.8934 9.32938 20.8934 9.96063 20.5039 10.3636Z"
                                    fill="#9CD323" />
                            </svg>
                            <div
                                class="flex flex-col items-start gap-[16px] w-[134.3px]">
                                <div
                                    class="rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)] h-[6.716px] self-stretch">
                                </div>
                                <div
                                    class="rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)] h-[6.716px] self-stretch">
                                </div>
                                <div
                                    class="rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)] h-[6.716px] self-stretch">
                                </div>

                            </div>
                        </div>
                        <div
                            class="absolute left-[43px] top-[133px] flex items-start inline-flex gap-[16px]">
                            <svg width="28" height="27" viewBox="0 0 28 27"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.0839 0.0216675C6.68337 0.0216675 0.652832 6.0522 0.652832 13.4527C0.652832 20.8532 6.68337 26.8837 14.0839 26.8837C21.4844 26.8837 27.5149 20.8532 27.5149 13.4527C27.5149 6.0522 21.4844 0.0216675 14.0839 0.0216675ZM20.5039 10.3636L12.8885 17.979C12.7005 18.167 12.4453 18.2744 12.1767 18.2744C11.908 18.2744 11.6529 18.167 11.4648 17.979L7.66383 14.178C7.27433 13.7885 7.27433 13.1438 7.66383 12.7543C8.05333 12.3648 8.69802 12.3648 9.08752 12.7543L12.1767 15.8434L19.0802 8.93988C19.4697 8.55038 20.1144 8.55038 20.5039 8.93988C20.8934 9.32938 20.8934 9.96063 20.5039 10.3636Z"
                                    fill="#9CD323" />
                            </svg>
                            <div
                                class="flex flex-col items-start gap-[16px] w-[134.3px]">
                                <div
                                    class="rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)] h-[6.716px] self-stretch">
                                </div>
                                <div
                                    class="rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)] h-[6.716px] self-stretch">
                                </div>
                                <div
                                    class="rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)] h-[6.716px] self-stretch">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <p
                        class="text-[#425466] text-center text-[26.862px] font-medium leading-[150%] tracking-[-0.537px]">
                        Konfigurieren
                    </p>
                    <p
                        class="text-[#425466] text-center text-[26.862px] font-medium leading-[150%] tracking-[-0.537px]">
                        Sie Ihr Projekt
                    </p>
                </div>
            </div>
            <div
                class="absolute flex w-[67.155px] h-[67.155px] p-[9px_23px] flex-col justify-center items-center gap-[10px] flex-shrink-0 rounded-[33.578px] bg-[var(--Base-Base-White,#FFF)] shadow-[0px_0px_13.874px_rgba(0,0,0,0.25">
                <p
                    class="text-[#393939] text-center text-[32.234px] font-semibold leading-[150%] tracking-[-0.967px]">2</p>
            </div>
        </div>
        <div class="relative w-[302.198px] h-[415.019px] flex-shrink-0">

            <div
                class="absolute left-[33.5px] top-[33.5px] flex w-[268.621px] flex-col items-center gap-[32px]">
                <div
                    class="flex flex-col items-center rounded-[21.49px] bg-[var(--Secondary-100,#F3F5F7)] h-[268.621px] self-stretch border rounded-[21.5px]">
                    <div
                        class="relative mt-[43px] w-[182.662px] h-[225.641px] flex-shrink-0 rounded-t-[16.117px] rounded-b-none bg-[var(--Base-Base-White,#FFF)]"></div>
                    <p
                        class="absolute top-[64.5px] left-[105px] text-[var(--Secondary-500,#1A202C)] text-center text-[16.117px] font-semibold leading-normal tracking-[-0.322px]">Kosten</p>
                    <p
                        class="absolute top-[99.5px] left-[190px] text-[var(--Secondary-200,#C3D4E9)] text-center text-[16.117px] font-semibold leading-normal tracking-[-0.322px]">$</p>
                    <div
                        class="absolute top-[106px] left-[64.5px] w-[55.067px] h-[6.716px] flex-shrink-0 rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)]"></div>
                    <p
                        class="absolute top-[130.5px] left-[190px] text-[var(--Secondary-200,#C3D4E9)] text-center text-[16.117px] font-semibold leading-normal tracking-[-0.322px]">$</p>
                    <div
                        class="absolute top-[137px] left-[64.5px] w-[106.1px] h-[6.716px] flex-shrink-0 rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)]"></div>
                    <p
                        class="absolute top-[161px] left-[190px] text-[var(--Secondary-200,#C3D4E9)] text-center text-[16.117px] font-semibold leading-normal tracking-[-0.322px]">$</p>
                    <div
                        class="absolute top-[168px] left-[64.5px] w-[80.67px] h-[6.716px] flex-shrink-0 rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)]"></div>
                    <p
                        class="absolute top-[192px] left-[190px] text-[var(--Secondary-200,#C3D4E9)] text-center text-[16.117px] font-semibold leading-normal tracking-[-0.322px]">$</p>
                    <div
                        class="absolute top-[199px] left-[64.5px] w-[41.67px] h-[6.716px] flex-shrink-0 rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)]"></div>
                    <div
                        class="absolute top-[199px] left-[111.5px] w-[41.67px] h-[6.716px] flex-shrink-0 rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)]"></div>
                    <p
                        class="absolute top-[223px] left-[190px] text-[var(--Secondary-200,#C3D4E9)] text-center text-[16.117px] font-semibold leading-normal tracking-[-0.322px]">$</p>
                    <div
                        class="absolute top-[229.7px] left-[64.5px] w-[100.67px] h-[6.716px] flex-shrink-0 rounded-[40.293px] bg-[var(--Secondary-200,#C3D4E9)]"></div>
                </div>
                <p
                    class="text-[#425466] text-center text-[26.862px] font-medium leading-[150%] tracking-[-0.537px]">
                    Sie bekommen Ihr Preisangebot
                </p>
            </div>
            <div
                class="absolute flex w-[67.155px] h-[67.155px] p-[9px_23px] flex-col justify-center items-center gap-[10px] flex-shrink-0 rounded-[33.578px] bg-[var(--Base-Base-White,#FFF)] shadow-[0px_0px_13.874px_rgba(0,0,0,0.25">
                <p
                    class="text-[#393939] text-center text-[32.234px] font-semibold leading-[150%] tracking-[-0.967px]">3</p>
            </div>
        </div>

    </div>
    <div class="flex inline-flex items-center mt-[60px] gap-[6px] ">
        <button
            class="flex h-[49.5px] py-[35.5px] px-[29.5px] items-center gap-[13px] rounded-[150px] bg-[#01152E] hover:bg-[#22364F] ">
            <p
                class="flex flex-col justify-center h-[45px] text-white text-[22.5px] font-medium text-center tracking-[0.15px]">Projekt
                starten</p>
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none"
                class="mt-[3px]"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.93934 7.74999L0 2.81065L2.12132 0.689331L9.18198 7.74999L2.12132 14.8107L0 12.6893L4.93934 7.74999Z"
                    fill="white" />
            </svg>
        </button>
        <button class="flex h-[33px] px-[13px] items-center gap-2">
            <p
                class="text-[#0A2540]  text-center text-[22.5px] font-medium tracking-[0.15px]
        ">Kontakt</p>
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none"
                class="mt-[3px]"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5.12147 7.74999L0.182129 2.81065L2.30345 0.689331L9.36411 7.74999L2.30345 14.8107L0.182129 12.6893L5.12147 7.74999Z"
                    fill="#0A2540" />
            </svg>

        </button>

    </div>
</section>
