<div class="flex flex-col justify-center items-start w-full">
  <h1 class="w-full text-[35px] font-medium text-black text-center">
    {{ appType }} Anwendung Schätzung
  </h1>
  <p class="w-full text-gray-600 font-light text-center">
    Bitte beantworte die folgenden Fragen, damit wir die Kosten für dein
    Softwareprodukt abschätzen können.
  </p>
  <button
    type=""
    class="flex flex-row justify-center items-center hover:bg-[#f4f4f5] pl-4 pr-5 py-3 rounded-md gap-4 mt-8"
    (click)="backToAppType.emit()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="none"
      stroke="black"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-left"
    >
      <path d="m12 19-7-7 7-7" />
      <path d="M19 12H5" />
    </svg>
    <p class="font-medium mt-1 text-[14px] text-black">
      Zurück zum Schätzungs Modus
    </p>
  </button>
  <div class="mt-8 flex flex-row gap-1 justify-start items-center">
    <p class="font-light text-[15px]">Anwendung:</p>
    <p class="font-medium font-[14px]">{{ appType }}</p>
  </div>

  <ng-container *ngIf="appType === AppTypeEnum.DataAnalytics">
    <app-number-input
      [data]="dataSourcesWithAPI"
      (selectionChange)="this.priceService.setDataSourcesWithAPI($event)"
    ></app-number-input>
    <app-number-input
      [data]="dataSourcesWithoutAPI"
      (selectionChange)="this.priceService.setDataSourcesWithoutAPI($event)"
    ></app-number-input>
    <app-radio
      [list]="dataProcessing"
      (selectionChange)="this.priceService.setDataProcessing($event)"
    ></app-radio>
  </ng-container>

  <ng-container *ngIf="appType === AppTypeEnum.Management">
    <app-checkbox
      [list]="managementCompliance"
      (selectionChange)="this.priceService.setManagementCompliance($event)"
    ></app-checkbox>
    <app-checkbox
      [list]="managementIntegration"
      (selectionChange)="this.priceService.setManagementIntegration($event)"
    ></app-checkbox>
  </ng-container>

  <ng-container *ngIf="appType !== AppTypeEnum.DataAnalytics">
    <app-number-input
      [data]="totalUsers"
      (selectionChange)="this.priceService.setTotalUsers($event)"
    ></app-number-input>
  </ng-container>

  <ng-container *ngIf="appType === AppTypeEnum.Website">
    <app-number-input
      [data]="concurrentUsers"
      (selectionChange)="this.priceService.setConcurrentUsers($event)"
    ></app-number-input>
  </ng-container>

  <app-checkbox
    [list]="platforms"
    (selectionChange)="this.priceService.setPlatforms($event)"
  ></app-checkbox>
  <app-number-input
    [data]="timeframe"
    (selectionChange)="this.priceService.setTimeframe($event)"
  ></app-number-input>

  <ng-container *ngIf="appType === AppTypeEnum.Website">
    <app-radio
      [list]="design"
      (selectionChange)="this.priceService.setDesign($event)"
    ></app-radio>
  </ng-container>

  <app-radio
    [list]="infrastructure"
    (selectionChange)="this.priceService.setInfrastructure($event)"
  ></app-radio>
  <app-checkbox
    [list]="maintenance"
    (selectionChange)="this.priceService.setMaintenance($event)"
  ></app-checkbox>
  <app-number-input
    [data]="initialStorage"
    (selectionChange)="this.priceService.setInitialStorage($event)"
  ></app-number-input>
  <app-number-input
    [data]="newStoragePerMonth"
    (selectionChange)="this.priceService.setNewStoragePerMonth($event)"
  ></app-number-input>

  <ng-container *ngIf="appType !== AppTypeEnum.Management">
    <app-checkbox
      [list]="geography"
      (selectionChange)="this.priceService.setGeography($event)"
    ></app-checkbox>
  </ng-container>

  <ng-container *ngIf="appType !== AppTypeEnum.Website">
    <app-checkbox
      [list]="training"
      (selectionChange)="this.priceService.setTraining($event)"
    ></app-checkbox>
  </ng-container>

  <ng-container *ngIf="appType === AppTypeEnum.Website">
    <app-checkbox
      [list]="userTracking"
      (selectionChange)="this.priceService.setUserTracking($event)"
    ></app-checkbox>
  </ng-container>

  <app-checkbox
    [list]="auth"
    (selectionChange)="this.priceService.setAuth($event)"
  ></app-checkbox>
  <app-radio
    [list]="encryption"
    (selectionChange)="this.priceService.setEncryption($event)"
  ></app-radio>
</div>
