<form
  class="flex flex-col justify-center items-start gap-8 text-[#666] text-[16px] font-normal"
  [formGroup]="resetPasswordForm"
  (submit)="submitForm()"
>
  <p class="text-[32px] font-medium text-[#333]">Passwort zurücksetzen</p>
  <div class="flex flex-col items-start gap-6 w-[473px]">
    <div class="flex flex-col items-start gap-1 self-stretch">
      <label for="email" class="gap-[10px] self-stretch items-center"
        >E-Mail</label
      >
      <input
        class="w-full text-[20px] h-[56px] p-[10px] border rounded-xl focus:outline-none hover:border-gray-400 focus:border-black"
        id="email"
        type="email"
        formControlName="email"
        required
      />
    </div>
  </div>
  <div>
    <button
      *ngIf="!isLoading"
      type="submit"
      class="bg-primary-dark hover:bg-primary-light text-white h-full rounded-[8px] px-[40px] py-[16px]"
    >
      <p class="text-[20px] font-brand font-light">E-Mail senden</p>
    </button>

    <button *ngIf="isLoading" [disabled]="true"
      class="flex items-center justify-center gap-[6px] rounded-lg text-white p-4 mt-4 bg-gray-300 h-[56px] w-[180px]">
        <div class="h-2 w-2 bg-white rounded-full animate-bounce [animation-delay:-0.3s] -m-"></div>
        <div class="h-2 w-2 bg-white rounded-full animate-bounce [animation-delay:-0.15s]"></div>
        <div class="h-2 w-2 bg-white rounded-full animate-bounce"></div>
    </button>
  </div>
</form>
